[submodule "Configuration/xcconfigs"]
	path = Configuration/xcconfigs
	url = git://github.com/jspahrsummers/xcconfigs.git
[submodule "libffi"]
	path = libffi
	url = git://github.com/jspahrsummers/libffi.git
